# Default configuration file for bcl2fastq

---

bcl2fastq:
  versions:
    2.20.0:
      binary: bcl2fastq
      class_creation_function:  _get_bcl2fastq2x_runner

machine_type:
  HiSeq X:
    bcl2fastq_version: 2.20.0
  HiSeq 2500:
    bcl2fastq_version: 2.20.0
  HiSeq 2000:
    bcl2fastq_version: 2.20.0
  NextSeq 500:
    bcl2fastq_version: 2.20.0
  HiSeq 4000:
    bcl2fastq_version: 2.20.0
  MiSeq:
    bcl2fastq_version: 2.20.0
  NovaSeq:
    bcl2fastq_version: 2.20.0

runfolder_path: /opt/monitored-folder/ 
default_output_path: /bcl2fastq-output/

bcl2fastq_logs_path: bcl2fastq-logs

# Only folders and child folder of the directories listed here will be valid as output
# directories.
allowed_output_folders:
    -  /bcl2fastq-output

