---
# List of monitored directories, can be relative paths
monitored_directories:
    - /opt/monitored-folder

# By default, runfolders can't be created via the API, but
# that can be enabled (for integration tests). This
# also enables adding the runfolder-ready marker through the API.
can_create_runfolder: False

completed_marker_file: "RTAComplete.txt"
